.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  &__link {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #969696;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
}
